<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">Про нас</h2>

    <p class="about-text">
      У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
      приносять радість та задоволення. Наша місія — пропонувати високоякісні
      десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
      естетичний вигляд.
    </p>

    <!-- DESKTOP/TABLET SWIPER -->
    <div class="about-swiper-wrapper">
      <button
        type="button"
        class="about-btn about-btn-prev swiper-button-disabled"
        aria-label="Попередній слайд"
      >
        <svg class="about-btn-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow_back"></use>
        </svg>
      </button>

      <div class="swiper about-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <img src="../img/about/about-1.jpg" alt="Приготування десертів" />
          </li>

          <li class="swiper-slide">
            <img src="../img/about/about-2.jpg" alt="Команда майстерні" />
          </li>

          <li class="swiper-slide">
            <img src="../img/about/about-3.jpg" alt="Солодкі десерти" />
          </li>

          <li class="swiper-slide">
            <img src="../img/about/about-4.jpg" alt="Робота кондитерів" />
          </li>
        </ul>
      </div>

      <button
        type="button"
        class="about-btn about-btn-next"
        aria-label="Наступний слайд"
      >
        <svg class="about-btn-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>

    <!-- PAGINATION -->
    <div class="about-pagination"></div>

    <!-- MOBILE STATIC GALLERY -->
    <ul class="about-mobile-gallery">
      <li class="about-mobile-item">
        <img src="../img/about/about-1.jpg" alt="Приготування десертів" />
      </li>

      <li class="about-mobile-item">
        <img src="../img/about/about-2.jpg" alt="Команда майстерні" />
      </li>

      <li class="about-mobile-item">
        <img src="../img/about/about-3.jpg" alt="Команда майстерні" />
      </li>

      <li class="about-mobile-item">
        <img src="../img/about/about-4.jpg" alt="Команда майстерні" />
      </li>
    </ul>
  </div>
</section>
