<section class="dessert-list-section" id="dessert-list">
  <div class="dessert-list-container">
    <div class="dessert-list-head">
      <div class="dessert-list-copy">
        <p class="dessert-list-title">Солодощі</p>
        <p class="dessert-list-text">
          Спробуйте наші смачні десерти, які вас здивують!
        </p>
      </div>

      <div class="dessert-select-wrap">
        <button
          class="dessert-category-dropdown"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="false"
        >
          <span class="dessert-category-dropdown-value">Всі десерти</span>
        </button>

        <svg
          class="dessert-select-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/sprite.svg#icon-keyboard-arrow-down"></use>
        </svg>

        <ul class="dessert-category-dropdown-list" role="listbox" hidden></ul>
      </div>
    </div>

    <fieldset class="dessert-category-fieldset">
      <legend class="visually-hidden">Категорії десертів</legend>
      <div class="dessert-category-list" data-category-list></div>
    </fieldset>

    <ul class="dessert-cards-list" data-dessert-list></ul>

    <p class="dessert-list-message" data-dessert-message hidden></p>

    <button class="dessert-load-more" type="button" data-load-more hidden>
      Завантажити ще
    </button>
  </div>
</section>
