<section class="hero">
  <div class="hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Ласкаво просимо до Солодкої Майстерні</h1>
      <p class="hero-text">
        Відкрийте для себе наші неперевершені десерти, приготовані з любов'ю та
        увагою до деталей. Кожен шматочок — це справжнє свято смаку!
      </p>
      <button class="hero-btn" type="button" data-scroll-to="#feedback-reviews">
        Що про нас думають
      </button>
    </div>
  </div>
</section>
