<form class="order-form">
  <button class="close-btn">
    <svg width="24" height="24" aria-hidden="true">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <label class="form-label">
    Ім’я*
    <input type="text" name="name" class="form-input" placeholder="Вікторія" />
  </label>

  <label class="form-label">
    Телефон*
    <input
      type="tel"
      name="phone"
      class="form-input"
      placeholder="38 0__ _______"
    />
  </label>

  <label class="form-label">
    Коментар*
    <textarea
      name="comment"
      class="form-textarea"
      placeholder="Ваш коментар"
    ></textarea>
  </label>

  <button type="submit">Надіслати заявку</button>
</form>
