.header {
  padding: 20px 0;
}
/*
.nav {
  display: flex;
  flex: 1;
  justify-content: center;
}*/
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 40px;*/
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

/*Mobile first*/
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px 20px;
}

.nav {
  display: none;
}
.header-shop-btn {
  display: none;
}
.burger-btn {
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/*Laptop*/
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    padding: 0;
  }

  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 704px;
    height: 72px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
 
  .nav-box {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    width: max-content;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 16px;
    width: max-content; 
    height: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .header-shop-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f19898;
    color: #080c0c;
    border: 1px solid #f19898;
    border-radius: 100px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    transition: background 250ms ease, border 250ms ease;
    width: 133px;
    height: 40px;
  }
  .header-shop-btn:hover,
  .header-shop-btn:focus {
    background-color: #fff;
    border: 2px solid #080c0c; 
  }
  .header-shop-btn:active {
    background-color: #f19898;
  }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
  .header-box {
    width: 100%;
    max-width: 1376px; 
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
  }
  .nav-box {
    gap: 32px; 
    width: auto;
  }
  .nav-list {
    gap: 32px;
    width: max-content;
  }
}
