.hero {
    padding-bottom: 80px;
}

.hero-wrapper {
    max-width: 335px;
    min-height: 582px;
    margin: 0 auto;
    padding: 155px 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        image-set(url('../img/hero/pie-mobile.jpg') 1x,
            url('../img/hero/pie-mobile@2x.jpg') 2x);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    
    margin-bottom: 24px;

    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;

    color: #ffffff;
}

.hero-text {
    margin-bottom: 32px;

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: #ffffff;
}


.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 44px;
    padding: 10px 24px;

    border: 1px solid #f19898;
    border-radius: 100px;
    background-color: #f19898;

    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    color: #080c0c;
    cursor: pointer;

    transition:
        background-color 250ms ease,
        border-color 250ms ease,
        color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #e27f7f;
    border-color: #e27f7f;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 100px;
    }

    .hero-wrapper {
        max-width: 704px;
        min-height: 642px;
        padding: 180px 40px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            image-set(url('../img/hero/pie-tablet.jpg') 1x,
                url('../img/hero/pie-tablet@2x.jpg') 2x);
    }

    .hero-title {
        
        margin: 0 auto 24px;
        
    }

    .hero-text {
        
        margin: 0 auto 32px;
        font-size: 18px;
    }

   .hero-btn {
       max-width: 219px;
       margin: 0 auto;
   }
}

@media screen and (min-width: 1440px) {
    .hero {
        padding-bottom: 120px;
    }

    .hero-wrapper {
        max-width: 1440px;
        min-height: 735px;
        padding: 220px 64px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            image-set(url('../img/hero/pie-desktop.jpg') 1x,
                url('../img/hero/pie-desktop@2x.jpg') 2x);
    }

    .hero-title {
        max-width: 768px;
        font-size: 56px;
    }

    .hero-text {
        max-width: 768px;
        font-size: 20px;
    }

    .hero-btn {
        max-width: 215px;
    }
}