
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url('../img/hero/pie-mobile.jpg');

    background-size: cover;
    background-position: center;

    padding: 115.5px 0;

    text-align: center;
    color: #ffffff;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    max-width:335px;
    height: 192px;
    margin-bottom: 24px;
}

.hero-text {
    max-width: 335px;
    font-weight: 400;
    margin: 0 auto 32px;

    font-size: 18px;
    line-height: 1.5;
}

.hero-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 44px;
    border-radius: 100px;
    background-color: #F19898;
    padding: 10px 24px;
    color: #2f2f2f;
    text-decoration: none;


    transition: background-color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #F19898;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url('../img/hero/pie-mobile@2x.jpg');

    background-size: cover;
    background-position: center;

    padding: 115.5px 0;

    text-align: center;
    color: #ffffff;
}

.hero-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;

    margin-bottom: 24px;
}

.hero-text {
    max-width: 600px;

    margin: 0 auto 32px;

    font-size: 18px;
    line-height: 1.5;
}

.hero-btn {
    display: inline-block;

    padding: 16px 32px;

    border-radius: 100px;

    background-color: #F19898;

    color: #2f2f2f;
    text-decoration: none;

    transition: background-color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #F19898;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)),
            url('../img/hero/pie-tablet.jpg');
    }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)),
            url('../img/hero/pie-tablet@2x.jpg');
    }
}








@media screen and (min-width: 1440px) {
    .hero {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)),
            url('../img/hero/pie-desktop.jpg');
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)),
            url('../img/hero/pie-desktop@2x.jpg');
    }
}